[submodule "dobby-upstream"]
	path = dobby/src/main/cpp/upstream
	url = https://github.com/jmpews/Dobby
	branch = master
[submodule "lsplant-upstream"]
	path = lsplant/src/main/upstream
	url = https://github.com/LSPosed/LSPlant
	branch = master
[submodule "maven-branch"]
	path = maven
	url = https://github.com/tclement0922/jLSPlant
	branch = maven
